.mainContent {
    padding: 30px 20px;
}

.descriptionContent {
    padding-top: 100px;
    text-align: justify;
}

.description {
    font-size: 1.3em;
}

.descriptionContact {
    margin-bottom: 30px;
    font-size: 1.3em;
}

.logo{
    padding-bottom: 30px;
    width: 350px;
}
