.mainContent {
    padding: 30px 20px;
}

.descriptionContent {
    padding-top: 180px;
    text-align: justify;
}

.description {
    padding-top: 30px;
    font-size: 1.3em;
    margin-bottom: 30px;
}
