.content {
    min-height: 100vh;
    background: white;
}

.logo {
    height: 31px;
    margin: 10px 24px 16px 0;
    float: left;
}

.logo img {
    width: 120px;
    padding-bottom: 24px;
}

.header {
    background: white;
    padding-right: 0;
    z-index: 1;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 1.5%
}

.footer {
    padding-right : 0;
    z-index: 1;
    text-align : center;
}

.iconList {
    margin-right : 20px;
    float: right;
}

.icon {
    margin-right: 20px;
}


