.mainContent {
    padding-left: 10px;
    padding-top: 20px;
    justify-content: center;
}

.menuItem{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
}

.pageTitle{
    margin-top: 14px;
}

.pageHeader :global .anticon{
    font-size: 25px;
    vertical-align: middle;
}
